---
import Page from '../layouts/Page.astro';
import { getCollection } from "astro:content";
import BlogPost from '../components/BlogPost.astro';
import { Separator } from "$lib/components/ui/separator";
import { Badge } from "$lib/components/ui/badge/index.js";
import HighlightBlogPost from '../components/HighlightBlogPost.astro';
import { Picture } from "astro:assets";
const pageTitle = "blog"
const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---
<Page pageTitle={pageTitle}>
  <div class="flex justify-between items-center space-x-4 flex-wrap">
    <h1 class="text-4xl font-mono flex-none">DVD-ROM:<span class="text-dark-accent font-bold">BLOG</span></h1>
    <Separator class="bg-black self-center flex-1"/>
    <h1 class="text-2xl font-light flex-initial">Highlighted Posts</h1>
  </div>
  <!--highlighted posts section -->
  <div class="grid grid-rows-2 grid-cols-3 grid-flow-row gap-2 pt-4 h-[28rem] text-wrap">
    <!-- biiig post -->
    <div class="row-span-2 col-span-2 bg-cover bg-center backdrop-blur-lg hover:shadow-2xl" style="background-image: url(../../public/assets/images/dvdgradient-2.png)"><a href="/posts/firstpost">
      <div class='p-3 size-full'>
      <p class="text-sm">May 12, 2024</p>
      <div class="absolute pb-3 pl-3 bottom-0 left-0"><h1 class="text-4xl font-bold">My life is like a kubernetes game</h1>
      <p class="pt-2">my life...kubernetes.. .game.... video.....v ideogame..trying hard to scale the pods all while I am still deploying nodes
      </p></div>
      </div>
    </div></a>
    <!-- small posts -->
    <div class="overflow-clip break-words relative row-span-1 col-span-1 bg-center bg-cover hover:shadow-2xl" style="background-image: url(../../assets/images/dvdgradient-2.png)">
      <div class='p-3'>
        <p class="text-sm">May 12, 2024</p>
        <div class="absolute pb-3 pl-3 bottom-0 left-0 text-clip"><h1 class="text-2xl font-bold">Awesome sauce</h1></div>
        </div>
    </div>
    <div class="overflow-clip break-words relative row-span-1 col-span-1 bg-center bg-cover hover:shadow-2xl" style="background-image: url(../../assets/images/dvdgradient-2.png)">
      <div class='p-3'>
        <p class="text-sm">May 12, 2024</p>
        <div class="absolute pb-3 pl-3 bottom-0 left-0"><h1 class="text-2xl font-bold">Awesome sauce</h1></div>
        </div>
    </div>
  </div>
  <!-- all posts section -->
  <Separator class="by-1 h-20"/>
  <div class="flex justify-between items-center space-x-4 flex-wrap">
    <h1 class="text-2xl font-light flex-initial">All Posts</h1>
    <Separator class="bg-black self-center flex-1"/>
    <h1>{allPosts.length} posts</h1>
  </div>
  <!-- tags -->
  <div class="flex flex-wrap pt-3 pb-3">
    {tags.map((tag) => (
      <a href={`/tags/${tag}`} class="text-black"><Badge class='bg-accent-color transition duration-[400ms] hover:bg-dark-accent' variant="secondary">{tag}</Badge></a>
      <Separator orientation="vertical" class="w-1.5"/>
    ))}
  </div>
  <!-- posts list -->
  <div class="flex flex-col space-y-4">
    {
      allPosts.map((post) => (
        <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} description={post.data.description} pubDate={post.data.pubDate}/>
      ))
    }
  </div>
</Page>