---
import Page from '../layouts/Page.astro';
import ProjectPost from '../components/ProjectPost.astro';

const pageTitle = "projects";

const projects = [
  {
    title: "Herald",
    url: "https://github.com/dvdawg/herald",
    description: "An improved news source combined with an academic paper-reading engine.",
    image: "/assets/projects/thumbnails/herald.jpg",
    imagePosition: "center top",
    imageClass: ""
  },
  {
    title: "MING Diode",
    url: "/assets/projects/ming_pres.pdf",
    description: "The Matched-pair Inverting Nonlinear Generator: A custom nonlinear diode.",
    image: "/assets/projects/thumbnails/MING.png",
    imagePosition: "center top",
    imageClass: ""
  },
  {
    title: "Quantum cryptographic algorithms",
    url: "https://github.com/gheustace/quantumalg",
    description: "An implementation of a homomorphic certified deletion scheme with quantum computing at berkeley",
    image: "/assets/projects/thumbnails/certifieddel.jpeg",
    imagePosition: "center-top",
    imageClass: ""
  },
  {
    title: "Buckit",
    url: "https://github.com/dvdawg/buckit",
    description: "An intelligent social bucket list app. Built during CalHacks 12.0.",
    image: "/assets/projects/thumbnails/buckit.png",
    imagePosition: "center top",
    imageClass: ""
  }
];
---

<Page pageTitle={pageTitle}>
  <!-- projects list -->
  <div class="grid grid-cols-1 gap-4 pt-4 md:grid-cols-2">
    {
      projects.map((project) => (
        <ProjectPost 
          url={project.url} 
          title={project.title} 
          description={project.description}
          image={project.image}
          imagePosition={project.imagePosition}
          imageClass={project.imageClass}
        />
      ))
    }
  </div>
</Page>
