---
import * as Card from "$lib/components/ui/card";
const { title, url, description, pubDate } = Astro.props;
---
<a href={url}><div class="flex flex-wrap text-truncate min-h-28 p-3 transition duration-[400ms] hover:bg-light-accent">
    <div class="flex-none size-5/12">
        <header class="font-bold text-2xl">{title}</header>
        <h2 class="italic text-sm">{pubDate.toString().slice(4,10) + "," + pubDate.toString().slice(10,15)}</h2>
    </div>
    <div class="flex-none text-sm size-7/12 pl-6">
        <p class="pt-1.5">{description}</p>
    </div>
</div></a>
<!--  
    <div class="pb-3"><a href={url}><Card.Root>
    <Card.Header>
        <Card.Title>{title}</Card.Title>
        <Card.Description>{pubDate.toString().slice(4,10) + "," + pubDate.toString().slice(10,15)}</Card.Description>
    </Card.Header>
    <Card.Content>
        {description}
    </Card.Content>
    </Card.Root></a></div>
 -->
<style>
    a {
        text-decoration: none !important;
    }
</style>
